equinix_fabric_id = "Equinix Fabric Client ID"
equinix_fabric_secret = "Equinix Fabric Client Secret"
equinix_fabric_user = "Equinix Fabric user name"
equinix_metal_auth = "Equinix Metal API authentication key"

equinix_fabric_account_name = "Equinix Fabric "

ssh_user = "SSH username for Network Edge device"
ssh_password = "SSH password for Network Edge device"

aws_account_id = "AWS Account ID"
aws_access = "AWS Access Key"
aws_secret = "AWS Secret Key"
aws_dxg_name = "Name of the AWS Direct Connect Gateway deployed in tenancy"

cloud_auth_keys = {
  AWS = {
    key = "AWS Account ID"
  },
  OCI = {
    key = "Oracle FastConnect OCID"
  }
}