ansible_connection: ansible.netcommon.network_cli
ansible_network_os: cisco.ios.ios
ansible_become: yes
ansible_become_method: enable
ansible_user: ${ssh_user}
ansible_password: ${ssh_password}
ansible_become_password: ${ssh_password}
